
.card-text{
    color:red;
    font-weight: 800;
}

.card-title{
    font-weight: 900;
}

.card-img-top:hover{
    transform: scale(1.2);
}

h6{
    text-decoration: line-through;
}

.bttn{
    background-color: aquamarine;
}
