body{
    background-color: white;
    padding-right: 50px;
    padding-left: 50px;
}

.row{
    padding-top: 20px;
}

img:hover{
    transform: scale(1.2);
}

.link-primary{
    font-weight: 800;
}
.card-text{
    font-weight: 800;
}

pd-img{
    padding-top: 20px;;
}
